* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
}
.top-heading {
  width: 100%;
}
.top-heading img {
  width: 100%;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  background-color: #eeeeee;
  margin-top: -4px;
  padding: 10px;
}
.navbar div {
  margin-right: 10px;
  border-right: 1px solid rgb(61, 60, 60);
}
.navbar div a {
  padding-right: 5px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar div:nth-child(5) {
  border-right: none;
}
.navbar div a:hover {
  text-decoration: underline;
  color: #7a2522;
}

/* login section */
.login_container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  width: 35%;
  height: 500px;
  background-color: #fffdfd;
  overflow-y: scroll;
  position: fixed;
  top: 8%;
  left: 30%;
  z-index: 10010;
}
.login {
  width: 100%;
  margin-top: 30px;
}
.login-input input {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: bold;
}
.login-input h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}
.fa-x {
  position: relative;
  left: 93%;
  top: -10px;
  cursor: pointer;
}

.login_guide div {
  width: 80%;
  margin: auto;
  text-align: start;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
  color: rgb(83, 83, 83);
}
.login_guide div:nth-child(2) {
  width: 82%;
  margin: auto;
  text-align: start;
  padding: 0px 5px 0px 5px;
  line-height: 24px;
  font-size: 14px;
  color: rgb(83, 83, 83);
}
.login_guide div p i {
  margin-right: 10px;
}
.loginbtn {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  padding: 10px;
  background-color: #d81d05;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: lightblue;
  cursor: pointer;
}


