* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
}
.top-heading {
  width: 100%;
}
.top-heading img {
  width: 100%;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  background-color: #eeeeee;
  margin-top: -4px;
  padding: 13px;
}
.navbar div {
  margin-right: 10px;
  border-right: 1px solid rgb(61, 60, 60);
}
.navbar div a {
  padding-right: 5px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar div:nth-child(5) {
  border-right: none;
}
.navbar div a:hover {
  text-decoration: underline;
  color: #7a2522;
}

/* login section */
.login_container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  width: 35%;
  height: 500px;
  background-color: #fffdfd;
  overflow-y: scroll;
  position: fixed;
  top: 8%;
  left: 30%;
  z-index: 10010;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login {
  width: 100%;
  margin-top: 30px;
}
.login-input input {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: bold;
}
.login-input h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}
.fa-x {
  position: relative;
  left: 93%;
  top: -10px;
  cursor: pointer;
}

.login_guide div {
  width: 80%;
  margin: auto;
  text-align: start;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
  color: rgb(83, 83, 83);
}
.login_guide div:nth-child(2) {
  width: 82%;
  margin: auto;
  text-align: start;
  padding: 0px 5px 0px 5px;
  line-height: 24px;
  font-size: 14px;
  color: rgb(83, 83, 83);
}
.login_guide div p i {
  margin-right: 10px;
}
.loginbtn {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  padding: 10px;
  background-color: #d81d05;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: lightblue;
  cursor: pointer;
}
/* 
 */
.bottom-nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.container-nav {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90px;
}
.logo {
  width: 20%;
}

.logo img {
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  width: 90%;
  font-size: 12px;
}
.content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 37px;
  border-right: 1px solid rgb(228, 224, 224);
  padding-right: 20px;
  height: 90px;
}
.container-nav div a {
  text-decoration: none;
  color: #535252;
  font-size: 15px;
  font-family: sans-serif;
}

.container-nav div:nth-child(6) {
  border-right: none;
}

.fa-cart-shopping {
  font-size: 21px;
  color: red;
}

.cart {
  width: 35%;
  display: flex;
  align-items: center;
}
form {
  margin-left: 31px;
  font-size: 15px;
}

form input {
  padding: 6px;
}

form button {
  font-family: sans-serif;
  background-color: red;
  border: none;
  color: white;
  padding: 9px;
  font-size: 15px;
  font-weight: 700;
}
.container {
  background: url("https://assets.firestonecompleteautocare.com/content/dam/bsro-sites/global/images/hero/All-Season-WW-FCAC-1440x557-hero-des.jpg");
  background-repeat: no-repeat;
  background-size: 100% 530px;
  height: 530px;
}

.form-container {
  width: 30%;
  background-color: rgb(252, 22, 22);
  position: relative;
  top: 20px;
  left: 53px;
}
.topbtn > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.topbtn > div > button:nth-child(1) {
  background-color: rgb(175, 12, 12);
  border-right: 3px solid #7a2522;
}
.topbtn > div > button {
  width: 100%;
  background-color: rgb(252, 22, 22);
  font-size: 18px;
  padding: 15px;
  color: white;
  outline: none;
  border: none;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.small-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  border: 2px solid black;
}
.small-btn > button:nth-child(1) {
  border-right: 2px solid #7a2522;
}
.small-btn > button {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.input-container {
  width: 90%;
  margin: auto;
}
.input-container p {
  margin: 15px 0 15px 0;
}
.input-tags select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
.input-tags button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1565c0;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.service-container {
  width: 30%;
  position: absolute;
  top: 2%;
  left: 120%;
  background-color: #d81d05;
}
.flex-box {
  display: flex;
}
.details {
  width: 53%;
  position: absolute;
  margin-left: 20px;
  top: 70%;
  left: 60%;
  text-align: start;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}
.details h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mid-banner {
  width: 100%;
  height: 500px;
  margin-top: -26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mid-banner > div:nth-child(2) {
  margin-left: 30px;
}

.bottom-banner {
  display: flex;
  justify-content: space-between;
}
.bottom-banner div {
  width: 50%;
}

.btm-txt {
  margin-top: 20px;
}
.bottom-banner div:nth-child(2) > p {
  font-size: 20px;
  color: rgb(34, 34, 34);
}
.bottom-banner div:nth-child(2) > button {
  font-size: 18px;
  padding: 10px;
  background-color: rgb(252, 22, 22);
  color: #fff;
  border: none;
  cursor: pointer;
}
.bottom-banner div:nth-child(2) > h1 {
  font-size: 28px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.bottom-banner img {
  width: 100%;
}
.loc {
  text-align: center;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 1%,
    rgba(236, 236, 236, 1) 100%
  );
  padding: 12px;
}
.loc i {
  color: #d81d05;
  font-size: 16px;
}
.loc i,
span {
  padding-right: 1px;
}

.main-container h1 {
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.det-nav {
  width: 100%;
  background-color: #d81d05;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav-item {
  width: 85%;
  padding: 7px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.img-txt {
  width: 85%;
  margin: auto;
  display: flex;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #eee;
}
.img-txt > div {
  width: 50%;
}
.img-txt img {
  border-radius: 10px;
  width: 100%;
}
.txt {
  width: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 70px;
}
.txt h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 30px;
}
.txt input {
  padding: 11px;
  width: 64%;
  margin: 15px 0px 15px 0px;
}
.txt button {
  padding: 11px;
  font-weight: 800;
  outline: none;
  border: none;
  background-color: #d81d05;
  color: white;
}
.p {
  margin-top: 20px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.midBanner {
  width: 92%;
  margin: auto;
}
.midBanner img {
  width: 100%;
}
.midBanners {
  width: 95%;
  margin: auto;
  margin-left: 18px;
}
.midBanners img {
  width: 100%;
}

.logo-img {
  width: 88.77%;
  margin: auto;
  margin-left: 62px;
}
.logo-img img {
  width: 100%;
}

.top{
  margin-top: -10px;
}
.footer{
width: 100%;
margin: auto;
margin-top: 50px;
}
.footer img{
  width: 100%;
}
